/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-color: #2b3137;
}

.heroTitle {
  font-size: 40px;
}

.heroSubtitle {

}

.calloutAndLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.callout {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 50px;
  color: #FFFFFF;
  padding-right: 20px;
  text-align: left;
}

.callout {
  color: #FFFFFF;
  padding-right: 20px;
  text-align: left;
}

.heroLogo {
  max-height: 200px;
  border-radius: 20px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.moreInfo {
  background-color: rgb(32, 35, 42);
  color: #F6F6F7;
  text-align: center;
  padding: 20px 0px;
  font-size: 30px;
}

.moreInfo strong {
  color: #458588;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
